# https://github.com/emersonbottero/vitepress-plugin-mermaid/issues/77
public-hoist-pattern[]=@braintree/sanitize-url
public-hoist-pattern[]=dayjs
public-hoist-pattern[]=debug
public-hoist-pattern[]=cytoscape-cose-bilkent
public-hoist-pattern[]=cytoscape